      <!-- Area Chart -->
<div class="card mb-3" ng-show="!me.admin">
  <div class="card-header">
    <i class="fa fa-area-chart"></i> Trạng thái cảm biến: 
    <select id="SearchChartByDevId" onchange="FlotChart()"></select>
     <span id="chart-warning" style="color: red"></span>

     <a class="btn btn-primary" onclick="FlotChart()" style="line-height: 0.8em;"><i class="fa fa-retweet"></i> Cập nhật</a>
     <span>Từ: <input type="datetime-local" name="start" id="start" style="line-height: 1em; width: 215px;"></span>
     <span>Đến: <input type="datetime-local" name="end" id="end" style="line-height: 1em; width: 215px;"></span>

     <span style="padding-left: 1rem;">Tập trung: 
        <select id="totalDisplayedPoints" onchange="FlotChart()">
          <option value=3>3</option>
          <option value=5>5</option>
          <option value=10 selected>10</option>
          <option value=20>20</option>
          <option value=30>30</option>
          <option value=40>40</option>
        </select>
     điểm mới nhất</span> 

  </div>
  <div class="card-body">
    <div id="chartContainer" style="height: 400px; width: 100%;"></div>

  </div>
  <div class="card-footer small text-muted" id="chart-updated-status"></div>
    
</div>
      
