@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

#main-table section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

#main-table td,th {
  text-align: center;
}

#main-table label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

#main-table label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

#main-table label:hover {
  color: #888;
  cursor: pointer;
}

#main-table input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

#main-table #tab1:checked ~ #content1,
#main-table #tab2:checked ~ #content2,
#main-table #tab3:checked ~ #content3,
#main-table #tab4:checked ~ #content4,
#main-table #tab5:checked ~ #content5 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}