<!DOCTYPE html>
<html>
<head>
	<title>Forgot Password</title>
 <link rel="stylesheet" href="/styles/passwordrecovery/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles/passwordrecovery/angular-toastr.css">
  <link rel="stylesheet" href="/styles/passwordrecovery/importer.css">
  <link href="/styles/dashboard/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Icon Tab -->
  <link rel="icon" type="image/png" href="./images/static/ico.png">
</head>
<body  ng-app="">

<div class="container" style="margin-top:120px">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
              <strong style="font-size: 1.5em"> Password Recovery</strong>
            </div>
          <div class="panel-body">

          <!-- Recovery Password Form  --> <!-- ng-controller="" -->
        <form  role="form"  ng-cloak ng-submit="recoverPassword()" id="recover-password-form" class="form-signup" name="passwordrecovery">
          <div class="row">
          <h2 class="panel-heading text-center">Forgot your password?</h2>
            <!-- E M A I L -->
            <!--  -->
            <div class="col-sm-12 col-md-10  col-md-offset-1 ">
               
               <!-- E M A I L -->
                <div class="form-group" ng-class="{'has-error':passwordrecovery.email.$invalid &&passwordrecovery.email.$dirty}">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-envelope" style="font-size: 1.5em"> email:</i>
                        </span>
                        <input ng-model="email" autofocus style="font-size: 1.5em" class="form-control" placeholder="anonymous@gmail.com" name="email" type="email" required>
                      </div>
                        <span class="help-block has-error" ng-if="passwordrecovery.email.$dirty">
                          <span ng-show="passwordrecovery.email.$error.required" style="font-size: 1.5em">Email address is required.</span>
                          <span ng-show="passwordrecovery.email.$error.email" style="font-size: 1.5em">Not a valid email address.</span>
                        </span>
                </div><!-- email -->

                <!-- Button -->
                <div>
                  <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="passwordrecovery.$invalid">
                          <span ng-show="!loading" style="font-size: 1em">Send</span>
                          <span class="bf-loading-spinner fa fa-spinner" ng-show="loading" ></span>
                          <span ng-show="loading" style="font-size: 1em">Sending...</span>
                   </button>
                <div class="text-center" style="font-size: 1.5em"><a href="/" data-target="#loginDialog" data-toggle="modal">Go to Sign-in <a href="/">| Homepage</a></a></div>
              </div> <!-- button -->

          </div>   
        </form>

      </div>
    </div>
  </div>
</div>

<script src="/js/dependencies/angular.js"></script>

</body>
</html>