<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
  <link rel="icon" type="image/png" href="./images/static/ico_1.png">
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/signup/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles/signup/angular-toastr.css">
  <!-- <link rel="stylesheet" href="/styles/signup/importer.css"> -->

  <!-- Custom fonts for this template-->
  <link href="/styles/dashboard/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
<body ng-app="SignupModule" ng-controller="SignupController" ng-cloak>
  <!-- Error state -->

  <!-- S T A R T  O F  T H E  P A N E L -->
  <div class="container" style="margin-top:120px">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading text-center">
            <strong style="font-size: 1.5em"> Signup Form</strong>
          </div>
          <div class="panel-body">
            
            <form role="form" ng-submit="submitSignupForm()" id="sign-up-form" name="signup">
              <fieldset>
            
                <div class="row">
                  
                  <!-- E M A I L -->
                  <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                    <div class="form-group" ng-class="{'has-error':signup.email.$invalid &&signup.email.$dirty}">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-envelope" style="font-size: 1.5em"> Email:</i>
                        </span>
                        <input ng-model="signupForm.email" autofocus style="font-size: 1.5em" class="form-control" placeholder="anonymous@gmail.com" name="email" type="email" required>
                      </div>
                        <span class="help-block has-error" ng-if="signup.email.$dirty">
                          <span ng-show="signup.email.$error.required" style="font-size: 1.5em">Email address is required.</span>
                          <span ng-show="signup.email.$error.email" style="font-size: 1.5em">Not a valid email address.</span>
                        </span>
                    </div>

                    <!-- U S E R  N A M E -->
                    <div class="form-group" ng-class="{'has-error':signup.email.$invalid &&signup.email.$dirty}">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-user" style="font-size: 1.5em"> Username: </i>
                        </span>
                        <input style="font-size: 1.5em;" ng-model="signupForm.username" class="form-control" placeholder="anonymous" name="username" type="username" required>
                      </div>
                        <span class="help-block has-error" ng-if="signup.username.$dirty">
                          <span ng-show="signup.username.$error.required" style="font-size: 1.5em">Username is required.</span>
                        </span>
                        <h1 class="text-center "> {{signupForm.username || spaceless}}</h1>
                    </div>
                    <!-- P A S S W O R D -->
                    <div class="form-group" ng-class="{'has-error':signup.password.$invalid &&signup.password.$dirty}">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-lock" style="font-size: 1.5em"> Password: </i>
                        </span>
                        <input style="font-size: 1.5em;" ng-model="signupForm.password" class="form-control" placeholder="at least 6 characters" id="password" name="password" type="password" required ng-minlength="6" compare-to="confirmPassword">
                      </div>
                        <span class="help-block has-error" ng-if="signup.password.$dirty">
                          <span ng-show="signup.password.$error.required" style="font-size: 1.5em">Password is required.</span>
                          <span ng-show="signup.password.$error.minlength" style="font-size: 1.5em">Password must be at least 6 characters.</span>
                        </span>
                    </div>
                    <!-- C O N F I R M  P A S S W O R D -->
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-lock" style="font-size: 1.5em"> Re-enter password: </i>
                        </span>
                        <input style="font-size: 1.5em;" ng-model="confirmPassword" class="form-control" placeholder="re-type your password" id="confirmation" name="confirmation" type="password" required >
                        <span class="help-block has-error" ng-if="signup.confirmation.$dirty">
                          <span ng-show="signup.password.$error.compareTo">Password must match.</span>
                          <span ng-show="signup.confirmation.$error.required">Confirmation password is required.</span>
                        </span>
                      </div>
                    </div>

                    <!-- C O M P A N Y -->
                    <div class="form-group" ng-class="{'has-error':signup.company.$invalid &&signup.company.$dirty}">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-building" style="font-size: 1.5em"> Company/Organization:</i>
                        </span>
                        <input ng-model="signupForm.company" autofocus style="font-size: 1.5em" class="form-control" placeholder="HCMC University of Technology " name="company" type="company" required>
                      </div>
                        <span class="help-block has-error" ng-if="signup.company.$dirty">
                          <span ng-show="signup.company.$error.required" style="font-size: 1.5em">Company/Organization is required.</span>
                        </span>
                    </div>

                    <!-- P H O N E - N U M B E R -->
                    <div class="form-group" ng-class="{'has-error':signup.phone.$invalid &&signup.phone.$dirty}">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-phone-square" style="font-size: 1.5em">Your Phone Number:</i>
                        </span>
                        <input ng-model="signupForm.phone" autofocus style="font-size: 1.5em" class="form-control" placeholder="+84 98 190 8 904" name="phone" type="phone" required>
                      </div>
                        <span class="help-block has-error" ng-if="signup.phone.$dirty">
                          <span ng-show="signup.phone.$error.required" style="font-size: 1.5em">Your phone number is required.</span>
                        </span>
                    </div>

                    <!-- A D D R E S S -->
                    <div class="form-group" ng-class="{'has-error':signup.address.$invalid &&signup.address.$dirty}">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-address-card" style="font-size: 1.5em">Your address:</i>
                        </span>
                        <input ng-model="signupForm.address" autofocus style="font-size: 1.5em" class="form-control" placeholder="268 Ly Thuong Kiet Street, District 10, HCM City, Vietnam" name="address" type="address" required>
                      </div>
                        <span class="help-block has-error" ng-if="signup.address.$dirty">
                          <span ng-show="signup.address.$error.required" style="font-size: 1.5em">Your address is required.</span>
                        </span>
                    </div>

                    <!-- T E R M S OF S E R V I C E S -->
                    <div class="form-group" ng-class="{'has-error':signup.agree.$invalid &&signup.agree.$dirty}">
                      <div class="input-group">
                        <input ng-model="signupForm.agree"  style="font-size: 1.5em" name="agree" type="checkbox" required> <a href="tos/tos.txt" target="_blank"><i> Agree terms of service</i></a>
                      </div>
                        <span class="help-block has-error" ng-if="signup.agree.$dirty">
                          <span ng-show="signup.agree.$error.required" style="font-size: 1.2em">Your agreement is required.</span>
                        </span>
                    </div>

                    <!-- Disable signup button until the form has no errors -->
                    <div>
                    <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="signup.$invalid">
                      <span ng-show="!signupForm.loading">Okay, I'm ready please make my account.</span>
                      <span class="bf-loading-spinner fa fa-spinner" ng-show="signupForm.loading" ></span>
                      <span ng-show="signupForm.loading">Preparing your new account...</span>
                    </button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="panel-footer text-center" style="font-size: 1.25em">
            Already have an account? <p><a href="/#loginDialog"> Sign in here | </a><i><a href="/forgotPassword">Forgot your password?</a> <a href="/">| Homepage</a></i></p>
            

          </div>
          <!-- <div class="panel-footer text-center" style="font-size: 1.25em">
            Want to restore an account? <a href="/profile/restore"> Restore it here. </a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/dependencies/angular.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>  -->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/angular-toastr.js"></script>
<script src="/js/dependencies/compareTo.module.js"></script>
<script src="/js/controllers/public/signup/SignupModule.js"></script>
<script src="/js/controllers/public/signup/SignupController.js"></script>

</body>
</html>